body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    transition: all 0.3s ease;
}

a:hover {
    background-color: #555;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}

footer p {
    font-size: 14px;
}

img {
width: 600px;
length: 250px;
}
